{% extends 'base.html.twig' %}

{% block title %}Hello AccesController!{% endblock %}

{% block body %}
<div class="flex justify-center my-10">
    <iframe width="600" height="500" src="https://maps.google.com/maps?q=47%C2%B016'44.4%22N%203%C2%B047'32.5%22E&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
{% endblock %}